body {
    background-color: #594646;
    font-family: sans-serif;
}

h1 {
    color: #f2dab4;
    text-align: center;
    padding: 3px;
    max-width: 794px;
    padding-bottom: 10px;
    margin: auto;
}

div#ljd-image-viewer {
    margin: auto;
    padding: 10px;
    border: 2px solid #8dcac0;
    border-radius: 15px;
    width: 788px;
}

img {
    height: 600px;
    width: 788px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

div#ljd-image-viewer-button-div {
    width: 788px;
    height: 30px;
    margin: auto;
}

p#ljd-image-viewer-image-description {
    color: #f2dab4;
    width: 600px;
    height: 25px;
    float: left;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    font-size: 13px;
}

input.ljd-image-viewer-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 94px;
    float: left;
    height: 30px;
    background-color: #527068;
    text-decoration: none;
    border:none;
    border-radius: 10px;
}
 
input.ljd-image-viewer-button:hover {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #8dcac0;
}


